body{
  background:linear-gradient(45deg, #71ce9b, #067e16);
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container{
  border-radius: 10px;
  background:linear-gradient(45deg, #71ce9b, #067e16);
  display: block;
  box-shadow:  1px 1px 10px;  
}
h1{
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  color: #ffffff;
}
#container2{
  display: block;
}
input{
  border: none;
  background:linear-gradient(45deg, #71ce9b, #59db6a);
  border-radius: 5px;
  display: block;
  width: 250px;
  height: 30px;
  margin:50px 25px;
  font-family: sans-serif;
}
#login-btn{
  background-color: rgb(97, 235, 97);
  width: 250px;
  height: 35px;
  border-radius: 5px;
  margin-left: 25px;
  margin-right: 20px;
  color: #ffffff;
  font-size: 20px;
  font-family: sans-serif;
  cursor: pointer;
}
#register{
  display: block;
  color:azure;
  font-family: sans-serif;
  font-size: 14px;
  padding: 25px 35px;

}
a{
  font-family: sans-serif;
  font-size: 14px;
  padding-left: 13px;
  color:chartreuse;
}